/*
*****************************
******  Font Family ********
*****************************
*/
@font-face {
  font-family: "Beiruti";
  src: url("../fonts/Beiruti/Beiruti-VariableFont_wght.ttf");
}
/*
*****************************
******  Global Style ********
*****************************
*/
:root {
  --bg-color-1: #021020;
  --bg-color-2: #061828;
  --bg-color-3: #081f35;
  --bg-color-4: #0d2f4e;
  --secondary-color: #1d78c9;
  --primary-color: #00bcd4;
  --text-color: #f0ffff;
  
  --sp-1: 66px;
  --sp-2: 44px;
  --sp-3: 22px;
  --sp-4: 11px;

  --fs-1: 36px;
  --fs-2: 28px;
  --fs-3: 24px;
  --fs-4: 20px;
}
html{
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::selection {
  background: var(--secondary-color);
  color: var(--text-color);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}  
body {
  font: 400 18px/var(--sp-3) "Beiruti";
  background: var(--bg-color-1);
  word-spacing: 4px;
  color: var(--text-color);
}
.container{
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  @media (max-width: 500px) {
      padding-left: 16px;
      padding-right: 16px;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-bg {
  background-color: var(--bg-color-2);
}
.third-bg {
  background: linear-gradient(to left, var(--bg-color-1), var(--bg-color-2));
}
.section {
  padding-top: var(--sp-2);
  padding-bottom: var(--sp-2);
}
a {
  transition-duration: .3s;
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}
a,
abbr {
  text-decoration: none;
}
/*
*****************************
******** Typography *********
*****************************
*/
h2,
h3,
h4 {
  color: var(--secondary-color);
  font-weight: 500;
}
h1 {
  color: var(--primary-color);
  font-size: var(--fs-1);
  line-height: var(--sp-2);
  font-weight: 400;
  margin-bottom: var(--sp-3);
}
h2 {
  font-size: var(--fs-2);
  margin-bottom: var(--sp-2);
  text-align: center;
}
h3 {
  font-size: var(--fs-3);
  line-height: var(--fs-3);
  margin-bottom: var(--sp-3);
}
h4 {
  font-size: var(--fs-4);
  margin-bottom: var(--sp-4);
}
/*
*****************************
********** Header ***********
*****************************
*/
.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: var(--sp-3);
  padding-bottom: var(--sp-3);
}
.header img {
  height: var(--sp-2);
}
.nav ul{
  gap: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.nav a {
  color: var(--text-color);
}
.nav a:hover {
  color: var(--primary-color);
}
/*
*****************************
***********  Home ***********
*****************************
*/
.home {
  text-align: center;
  padding-top: var(--sp-1);
  padding-bottom: var(--sp-1);
}
.home p{
  font-size: var(--sp-3);
  line-height: calc(var(--fs-3) * 3 / 2);
  font-weight: 300;
}
/*
*****************************
******  About ********
*****************************
*/
.about ul {
  list-style: disc inside;
}
.about section ul {
  margin-bottom: var(--sp-3);
}
.about .grid {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: var(--sp-3);
  @media (max-width: 760px) {
      flex-direction: column;
  }
}
.about .grid :first-child {
  min-width: 255px;
}
.about ul li:not(:last-child) {
  margin-bottom: calc(var(--sp-4) / 2);
}
/*
*****************************
******  Skills ********
*****************************
*/
.skills {
  padding-bottom: 72px;
}
.skills-list {
  flex-wrap: wrap;
  gap: var(--sp-3); 
}
.card {
  background-color: var(--bg-color-3);
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding: var(--sp-3);
  gap: var(--sp-4);
  width: 100%;
  max-width: 200px;
  transition-duration: .2s;
}
.card i {
  font-size: calc(var(--fs-1) * 2);
}
.card h3 {
  margin-bottom: 0;
  color: var(--text-color);
}
.card:hover {
  background-color: var(--bg-color-4);
  transform: translateY(-12px);
}
.card i {
  font-size: 92px;
}
.html {
  color: orangered;
}
.css {
  color: var(--secondary-color);
}
.js {
  color: yellow;
}
.git {
  color: orangered;
}
.flask {
  color: #808080;
}
/*
*****************************
**********  Footer **********
*****************************
*/
.footer {
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
    gap: calc(var(--sp-2) / 2);
  }
}
.footer .links {
  gap: calc(var(--sp-3) / 2);
}
.links a {
  background-color: var(--bg-color-3);
  font-size: 22px;
  display: flex;
  padding: calc(var(--sp-3) / 2);
  border-radius: 50%;
}
.links a:hover {
  background-color: var(--bg-color-4);
}  
/*
*****************************
******  To Top btn ********
*****************************
*/
.top-btn {
  position: fixed;
  bottom: calc(var(--sp-2) * 2);
  right: 38px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  font-size: 24px;
  z-index: 12;
  visibility: hidden;
  opacity: 0;
  transition-duration: .3s;
  @media (max-width: 600px) {
    bottom: var(--sp-3);
    right: var(--sp-3);
  }
}
.top-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.top-btn.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(-22px);
}